.container__big-card {
  position: relative;
  padding: 100px 10px 5px 50px;
  border-radius: 20px;
}

.container__big-card,
.app-small-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 3px;
}

.tittle {
  margin-top: 40px;
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
  position:absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

*{
  background-color: white;
}
